---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Teamania, Sweeten Your Life">
  <section
    class="mx-auto grid min-h-[70vh] w-full place-items-center gap-4 bg-gradient-to-r from-[#A78DA9] to-[#9AB294]"
  >
    <h1 class="text-4xl font-bold text-white">Welcome To Teamania</h1>
    <h1 class="text-black/50">
      TODO: beeg cool image/video on autoplay in the background here
    </h1>
  </section>
  <section
    class="mx-auto flex min-h-[50vh] max-w-[1024px] flex-col items-center gap-4"
  >
    <h1 class="text-center font-serif text-2xl">Menu</h1>
    <div
      class="grid w-full grid-cols-4 gap-1 rounded-3xl border border-neutral-300 p-1"
    >
      <div
        class="rounded-lg rounded-l-3xl bg-neutral-200 px-4 py-1 text-center"
      >
        Poke
      </div>
      <button
        class="rounded-lg px-4 py-1 text-center duration-300 hover:bg-neutral-100"
        >Drink</button
      >
      <button
        class="rounded-lg px-4 py-1 text-center duration-300 hover:bg-neutral-100"
        >Desert & Cake</button
      >
      <button
        class="rounded-lg rounded-r-3xl px-4 py-1 text-center duration-300 hover:bg-neutral-100"
        >Pastry & Cookies</button
      >
    </div>
    <div
      class="h-96 w-full rounded-3xl border border-neutral-200 bg-gradient-to-b from-neutral-100 to-white p-4"
    >
      mmm yummy food so good
    </div>
  </section>
  <section
    class="mx-auto flex min-h-[50vh] max-w-[1024px] flex-col items-center gap-4"
  >
    <h1 class="text-center font-serif text-2xl">Location</h1>
    <div class="h-96 w-full rounded-3xl bg-neutral-200"></div>
  </section>
</Layout>

<style>
  /* NOTE: scoped to this file only */
</style>
