@tailwind base;
@tailwind components;
@tailwind utilities;

.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
